<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/components.css">
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <!-- Menu superior com o nome do App-->
    <div class="navbar navbar-app navbar-absolute-top" ng-controller="NavbarController as navbar">
      <div class="navbar-brand navbar-brand-center"><span>Lavras</span><span class="separator" ng-if="navbar.currentPage">/</span><span ng-if="navbar.currentPage">{{ navbar.currentPage.name }}</span></div>
      <div class="navbar-back-btn" ng-if="navbar.hasPreviousState"><a ng-click="navbar.goBack()" href=""><i class="fa fa-arrow-left"></i></a></div>
    </div>
    <div class="scrollable app-container" ui-view=""></div>
    <script src="scripts/components.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>