block content

// Tarefas
.navbar.navbar-app.navbar-absolute-bottom
	.pull-left.icons-group
		a.btn.btn-default.btn-round.icon#listMyFavorites(ui-sref="MyFavorites")
			i.fa.fa-star
		a.btn.btn-default.btn-round.icon#listAllEvents(ui-sref="Logged")
			i.fa.fa-list
	.pull-right
		a.btn.btn-default.btn-round.icon#addEvent(ui-sref="AddEvent")
			i.fa.fa-plus