extends ../templates/logged.template.pug

block content
	h3 {{ eventCtrl.event.nome }}
	.event-info
		ul
			li
				label Preço:
				span R${{ eventCtrl.event.preco }}
			li
				label Local:
				span {{ eventCtrl.event.local }}
			li
				label Data:
				span {{ eventCtrl.event.data }}
			li
				label Horário:
				span {{ eventCtrl.event.horario }}
			li
				label Descrição:
				p {{ eventCtrl.event.descricao }}
			li
				label Pontos de venda: 
				p {{ eventCtrl.event.pontosVenda }}

	.text-center
		div(ng-if="!eventCtrl.amIOwner()")
			.pull-left
				a.btn.btn-primary(ng-click="eventCtrl.addFavorite()", ng-if="!eventCtrl.isFavorite()") 
					i.fa.fa-star
					span Favoritar
				a.btn.btn-primary(ng-click="eventCtrl.removeFromFavorites()", ng-if="eventCtrl.isFavorite()") 
					i.fa.fa-times
					span Desfavoritar
		div(ng-if="eventCtrl.amIOwner()")
			.pull-left
				a.btn.btn-primary#editEvent(ng-click="eventCtrl.editEvent()") 
					i.fa.fa-pencil
					span Editar evento
			.pull-right
				a.btn.btn-primary#removeEvent(ng-click="eventCtrl.removeEvent()") 
					i.fa.fa-trash
					span Apagar evento