doctype html
html(ng-app="app")
	head
		title App
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		// build:css styles/components.css
		link(rel="stylesheet", href="../bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css")
		link(rel="stylesheet", href="../bower_components/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="../bower_components/angular-toastr/dist/angular-toastr.min.css")
		// endbuild
		// build:css styles/main.css
		link(rel="stylesheet", href="style/app.css")
		// endbuild
	body
		// Menu superior com o nome do App
		.navbar.navbar-app.navbar-absolute-top(ng-controller="NavbarController as navbar")
			.navbar-brand.navbar-brand-center
				span My App
				span.separator(ng-if="navbar.currentPage") /
				span(ng-if="navbar.currentPage") {{ navbar.currentPage.name }}
			.navbar-back-btn(ng-if="navbar.hasPreviousState")
				a(ng-click="navbar.goBack()", href="")
					i.fa.fa-arrow-left

		.scrollable.app-container(ui-view="")

		// build:js scripts/components.js
		script(src="../bower_components/angular/angular.js")
		script(src="../bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js")
		script(src="../bower_components/angular-ui-router/release/angular-ui-router.min.js")
		script(src="../bower_components/angular-animate/angular-animate.min.js")
		script(src="../bower_components/angular-toastr/dist/angular-toastr.min.js")
		script(src="../bower_components/angular-toastr/dist/angular-toastr.tpls.min.js")
		// endbuild

		// build:js scripts/main.js
		script(src="app/app.module.js")
		script(src="app/app.routes.js")

		script(src="app/services/event.service.js")
		script(src="app/services/toast.service.js")

		script(src="app/initial/navbar.controller.js")
		script(src="app/initial/home.controller.js")

		script(src="app/logged/home.controller.js")

		script(src="app/event/details.controller.js")
		script(src="app/event/add.controller.js")
		// endbuild
