
<div class="event-info">
  <ul>
    <li>
      <label>Título:</label>
      <input class="form-control" placeholder="Título do evento" ng-model="eventCtrl.event.nome"/>
    </li>
    <li>
      <label>Preco:</label>
      <input class="form-control" placeholder="Preço do ingresso" ng-model="eventCtrl.event.preco"/>
    </li>
    <li>
      <label>Local:</label>
      <input class="form-control" placeholder="Local do evento" ng-model="eventCtrl.event.local"/>
    </li>
    <li>
      <label>Data:</label>
      <input class="form-control" placeholder="Data do evento" ng-model="eventCtrl.event.data"/>
    </li>
    <li>
      <label>Descrição:</label>
      <textarea class="form-control" placeholder="Descreva o seu evento aqui..." ng-model="eventCtrl.event.descricao"></textarea>
    </li>
    <li>
      <label>Pontos de venda: </label>
      <input class="form-control" placeholder="Pontos de venda" ng-model="eventCtrl.event.pontosVenda"/>
    </li>
  </ul>
</div>
<div class="pull-right"><a class="btn btn-primary" ng-click="eventCtrl.add()">Adicionar</a></div>
<!-- Tarefas-->
<div class="navbar navbar-app navbar-absolute-bottom">
  <div class="pull-left icons-group"><a class="btn btn-default btn-round icon" id="listMyFavorites" ui-sref="MyFavorites"><i class="fa fa-star"></i></a><a class="btn btn-default btn-round icon" id="listAllEvents" ui-sref="Logged"><i class="fa fa-home"></i></a></div>
  <div class="pull-right"><a class="btn btn-default btn-round icon" id="addEvent" ui-sref="AddEvent"><i class="fa fa-plus"></i></a></div>
</div>